<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Chuỗi kết nối đến SQL Server -->
  <connectionStrings>
    <add name="conn"
         connectionString="Data Source=DESKTOP-PID86FA;Initial Catalog=QuanLyTienDienDb;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

